{% from '_formhelpers.html' import render_field %}
{% extends '_base.html' %}

{% block head %}
{{ super() }}
<link href="/static/css/entry.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<table id='tabs'>
  <tr>
    <td><a href="#">Weight</a></td>
    <td><a href="#">Food</a></td>
  </tr>
</table>

<section id='entry' class='absolutecenter'>
  <form method='POST' action='{{ url_for("api.add_weight") }}' name='entry'>
    {{ entry.hidden_tag() }}
    {{ entry.qty(type="number", autofocus="autofocus", value="180.9", step="0.1") }}
    {{ entry.submit }}
  </form>
</section>

{% endblock %}